body{
  background-color: #262626;
  margin: 0;
  padding: 0;
  font-family: 'Tomorrow', sans-serif;
}
.loginbox{
  width: 320px;
  height: fit-content;
  background: #262626;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box; 
  padding:50px 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px cyan;
}
h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 30px;
}

.loginbox p{
  margin:0;
  padding: 0;
  font-weight:bold;
}

.loginbox input{
  width: 100%;
  margin-bottom: 20px;
}
.toggle-btn{
  width:100%;
  font-size: 20px;
  display: flex;
  border-radius: 50px;
  border: none 2px;
  background-color: #262626;
}
.toggle-btn button{
  text-align: center;
  color: aliceblue;
  background-color: #262626;
  width: 100%;
  border: none;
  height: 30px;
  border-radius: 10px;
  outline: none;
}
.toggle-btn button.active{
  background: linear-gradient(to right,aqua,blue);
}

.loginbox input[type="text"], input[type="password"], .emailinp{
  border: none;
  border-bottom: 1px Solid gray;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.loginbox input[type="submit"]{
  border:none;
  outline:none;
  height: 40px;
  background: turquoise;
  /* color: #262626; */
  color: white;
  font-size:18px;
  border-radius: 20px;
  background: linear-gradient(to right, turquoise, darkblue);
  transition: all .2s;
}

.loginbox input[type="submit"]:hover{
  /* background: #262626; */
  /* color: turquoise; */
  transform: scale(1.05);
}
.loginbox a{
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgray;
}
.loginbox a:hover{
  color: #fff;
}
